<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Fruits index</title>
</head>
<body>
  <h1>Welcome to the Fruits app!</h1>

    <img
     class="fruit-pic1"
     src="https://cdn-icons-png.flaticon.com/128/5312/5312448.png"
     alt="happy fruit salad bowl"
   />



   <p>An app for collecting your favorite fruits.</p>
 </body>
  <ul>
    <% fruits.forEach(fruit => { %>
      <li>
        <a href="/fruits/<%= fruit._id %>"> <%= fruit.name %> </a>
      </li>
    <% }); %>
  </ul>
</body>
</html>